*{
    padding: 0;
    margin: 0;
}

.gradient{
    width: 100%;
    height: 100vh;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}