/* Reset padrão */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.gridContainer{
    /* Padrão de alinhamento do grid é stretch */
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 20px;
    background-color: #000;

/* Alinha os elemetos do grid */

    /* Alinha no eixo horizontal */
    justify-items: center;

    /* Alinha no eixo vertical */
    align-items: center;

/* Alinha o grid */

    height: 100vh;

    /* Alinha no eixo horizontal */
    justify-content: center;

    /* alinha no eixo vertical */
    align-content: center;
    
}

.gridItem{
    background-color: crimson;
    width: 200px;
    height: 200px;
    border: 2px solid;
}
























/* body{
    background-image: url(https://images.pexels.com/photos/443446/pexels-photo-443446.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
}

.gradient{
    height: 100vh;
    background: linear-gradient(90deg, rgba(36, 35, 0, 0.3) 0%, rgba(102, 121, 9, 0.5) 35%, rgb(118, 135, 10) 100%);
}

.sol{
    width: 100px;
    height: 100px;
    background: #a6f3ff;
    background: radial-gradient(circle, rgb(255, 240, 166) 0%, rgb(107, 115, 0) 100%);
    border-radius: 50%;
    position: absolute;
    left: 75%;
    
} */